body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(252, 207, 153);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color:blanchedalmond;
}
.alert {
    width: 60%;
    margin: 20px auto; /* Centraliza verticalmente e alinha ao centro horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Adiciona algum espaçamento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    background-color: bisque; /* Cor de fundo para mensagens de erro */
    color: rgb(0, 0, 0); /* Cor do texto para mensagens de erro */
    border: 1px solid #000000; /* Adiciona uma borda */
}