body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(252, 207, 153);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: blanchedalmond;
}


/* botões alertas da tela de registro */

.alert {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    /* Cor de fundo para mensagens de sucesso */
    color: #155724;
    /* Cor do texto para mensagens de sucesso */
    border-color: #c3e6cb;
    /* Cor da borda para mensagens de sucesso */
}

.alert-error {
    background-color: #f8d7da;
    /* Cor de fundo para mensagens de erro */
    color: #721c24;
    /* Cor do texto para mensagens de erro */
    border-color: #f5c6cb;
    /* Cor da borda para mensagens de erro */
}

.btn-pesquisa {
    display: block;
    width: 150px;
    margin: 20px auto;
    background-color: #b8bab6;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
}

.btn-pesquisa:hover {
    background-color: #b8bab7;
}