/* Estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte para todo o corpo do documento */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    background-color: #f0f0f0; /* Cor de fundo do corpo da página */
}

/* Estilo para o contêiner principal */
.container {
    max-width: 1000px; /* Largura máxima do contêiner */
    margin: 50px auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Espaçamento interno do contêiner */
    background-color: #fff; /* Cor de fundo do contêiner */
    border-radius: 10px; /* Raio da borda do contêiner */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra do contêiner */
}

/* Estilo para os títulos */
h1 {
    text-align: center; /* Alinhamento central do texto */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: #333; /* Cor do texto */
}

/* Estilo para os rótulos dos campos do formulário */
.form-label {
    display: block; /* Exibe como bloco para separar verticalmente */
    margin-bottom: 5px; /* Espaçamento inferior */
    font-weight: bold; /* Texto em negrito */
    color: #555; /* Cor do texto */
}

/* Estilo para os campos de formulário */
.form-control {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento inferior */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Raio da borda */
    box-sizing: border-box; /* Define a caixa do modelo de borda */
}

/* Estilo para os botões */
.btn {
    display: block; /* Exibe como bloco para ocupar a largura total */
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    background-color: rgb(252, 207, 153); /* Cor de fundo */
    color: #000000; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Raio da borda */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    transition: background-color 0.3s; /* Transição suave de cor */
}

.btn:hover {
    background-color: blanchedalmond; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os botões de alerta */
.alert {
    width: 60%; /* Largura */
    margin: 20px auto; /* Margem */
    text-align: center; /* Alinhamento */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Raio da borda */
}

.alert-success {
    background-color: #d4edda; /* Cor de fundo para mensagens de sucesso */
    color: #155724; /* Cor do texto para mensagens de sucesso */
    border-color: #c3e6cb; /* Cor da borda para mensagens de sucesso */
}

.alert-error {
    background-color: #f8d7da; /* Cor de fundo para mensagens de erro */
    color: #721c24; /* Cor do texto para mensagens de erro */
    border-color: #f5c6cb; /* Cor da borda para mensagens de erro */
}

/* Estilo para o botão de pesquisa */
.btn-pesquisa {
    display: block; /* Exibe como bloco para ocupar a largura total */
    width: 150px; /* Largura */
    margin: 20px auto; /* Margem */
    background-color: #b8bab6; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    text-decoration: none; /* Remove decoração de texto */
    border-radius: 5px; /* Raio da borda */
    border: none; /* Remove a borda */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    text-align: center; /* Alinhamento de texto */
    padding: 10px 0; /* Espaçamento interno */
}

.btn-pesquisa:hover {
    background-color: #b8bab7; /* Cor de fundo ao passar o mouse */
}
